[*.cs]

# CS3021: 由于程序集没有 CLSCompliant 特性，因此类型或成员不需要 CLSCompliant 特性
dotnet_diagnostic.CS3021.severity = suggestion

[*.{cs,vb}]
end_of_line = crlf
charset = utf-8
indent_style = space
indent_size = 4